# Live Google Earth Engine Cloud Run Proxy URL
VITE_EE_API_URL=https://seva-gis-backend-419602015618.us-central1.run.app

# Firebase Live Production Hosting & App Config
VITE_FIREBASE_PROJECT_ID=seva-gis-backend-e724a
VITE_FIREBASE_AUTH_DOMAIN=seva-gis-backend-e724a.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=seva-gis-backend-e724a.appspot.com
